/* Container and main styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* scroll-behavior: smooth; */
    font-family: Lato, sans-serif;
    /* overflow-x: hidden; */
}

body {
    width: 100vw;
    font-family: 'Dosis', sans-serif;
    line-height: 1.6;
    background-color: #F4F4F4;
    color: black;
}

/* Header */
#header {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #F4F4F4;
}

#header h1 {
    font-size: 8vw;
}

#header p {
    font-size: 2vw;
}

#socialLinks {
    margin: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

i {
    color: black !important;
}

#socialLinks a {
    text-decoration: none;
    padding: 0 1.5vw;
}

i:hover{
    font-size: 3.5vw;
    transition: 0.5s ease-out;
}

i:not( :hover ){
    font-size: 2.5vw;
    transition: 0.5s ease-out;
}

#resumeDownload {
    background-color: #552cbf;
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    padding: 0.5vw 1.75vw;
    margin: 1.5vw 1.5vw;
    border-radius: 5vw;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

#resumeDownload:hover {
    text-decoration: underline;
    font-size: 2vw;
    transition: 0.5s ease-out;
}

#resumeDownload:not( :hover ) {
    font-size: 1.5vw;
    transition: 0.5s ease-out;
}

/* Main content */
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sectionContainer {
    width: 65vw;
    margin: auto;
}

.title {
    font-size: 4vw;
}

/* About section */
#about {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5vh 15vw 0 15vw;
}

#personalPhoto {
    border-radius: 1.5vw;
    width: 40%;
    height: 50vw;
    margin-right: 3vw;
    background: url('../images/personalPhoto.jpg') no-repeat center center/cover;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

#aboutContent {
    width: 60%;
    background-color: #ffffff;
    padding: 2vw;
    border-radius: 1.5vw;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

#aboutText {
    letter-spacing: 0.01vw;
    line-height: 1.75vw;
    font-size: 1.25vw;
}

#aboutPersonalOccupation {
    margin-bottom: 1.5vh;
    font-size: 2vw;
}


/* Skills section */
#skills {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5vh;
}

#skillsContainer {
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3vw;
    padding: 3vw;
    border-radius: 1.5vw;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skillIcon {
    height: 10vw;
    width: 10vw;
}

#C {
    background: url('../images/c.png') no-repeat center center/cover;
}

#Java {
    background: url('../images/java.png') no-repeat center center/cover;
}

#JavaScript {
    background: url('../images/java-script.png') no-repeat center center/cover;
}

#Python {
    background: url('../images/python.png') no-repeat center center/cover;
}

#PHP {
    background: url('../images/php.png') no-repeat center center/cover;
}

#HTML {
    background: url('../images/html5.png') no-repeat center center/cover;
}

#CSS {
    background: url('../images/css3.png') no-repeat center center/cover;
}

#SASS {
    background: url('../images/sass.png') no-repeat center center/cover;
}

#SQL {
    background: url('../images/sql.svg') no-repeat center center/cover;
}

.skillText {
    margin-top: 2vh;
    font-size: 1.5vw;
    font-weight: bold;
}

/* Work experience section */
#workExperience {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 10vh;
    font-size: 1.1vw;
}

#workExperienceContainer {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 1.5vw;
    padding: 2vh 4vw;
    background-color: #ffffff;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

.workExperienceBox {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vh 0;
}

.workExperienceDescription {
    width: 100%;
}

.leftSide {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.rightSide {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

#divider {
    width: 100%;
    align-self: center;
    height: 0.2vw;
    background-color: #552cbf;
    border-radius: 5vw;
}

.workExperienceHeading {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin: 0.75vw 0;
    font-size: 1.25vw;
}

.companyName {
    font-size: 2.75vw;
    margin-bottom: 0.75vw;
    line-height: 1.75vw;
}

.workTermReport {
    color: #ffffff;
    background-color: #552cbf;
    padding: 0.5vw 1.75vw;
    margin-top: 1.5vh;
    border-radius: 5vw;
    text-align: center;
    text-decoration: none;
}

.workTermReport:hover {
    text-decoration: underline;
    font-size: 1.5vw;
    transition: 0.5s ease-out;
}

.workTermReport:not( :hover ) {
    font-size:1.25vw;
    transition: 0.5s ease-out;
}

/* Personal projects section */
#projects {
    margin-top: 10vh;
    margin-bottom: 10vh;
    text-align: center;
}

#templatesContainer {
    width: 60vw;
    margin: auto;
    margin-top: 2vh;
}

/* Template styles */
#templates {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

.template {
  position: relative;
  background: #552cbf;
  overflow: hidden;
}

.template:after {
  content: '';
  position: absolute;
  display: block;
  background: inherit;
  opacity: 0.8;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
  transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1);
}

.templateContent {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  text-align: center;
  z-index: 1;
  transform: translateY(-20%);
  transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1), transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
  transition-delay: 300ms;
}

.template:hover:after {
  transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
}

.template:hover .templateContent {
  opacity: 1;
  transform: translateY(0);
}

.templateImage:before {
  content: '';
  display: block;
  padding-top: 75%;
  overflow: hidden;
}

.templateImage img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  line-height: 0;
}

.stretchToFit {
    height: 100% !important;
}

.imgScale {
  transform: scale(2);
}

#adjustHeight {
    height: 100%;
}
#adjustHeight img {
    height: 110%;
}

.templateContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.templateContent h2 {
    color: white;
    font-size: 1.75vw;
    margin-bottom: 1vh;
}

.templateContent a {
    font-size: 1.1vw;
    text-decoration: none;
    background-color: white;
    margin-bottom: 1vh;
    color: #552cbf;
    border-radius: 1.5vw;
    padding: 0.75vh 0.75vw;
    transition-property: background-color color padding;
    transition-duration: 0.75s;
}

.templateContent p {
    font-size: 1.1vw;
    text-decoration: none;
    background-color: white;
    margin-bottom: 1vh;
    color: #552cbf;
    border-radius: 1.5vw;
    padding: 0.75vh 0.75vw;
    transition-property: background-color color padding;
    transition-duration: 0.75s;
}

.templateContent a:hover {
    text-decoration: underline;
    background-color: inherit;
    color: white;
    padding: 1.5vh 1.5vw;
}

.templateContent p:hover {
    cursor: pointer;
    text-decoration: underline;
    background-color: inherit;
    color: white;
    padding: 1.5vh 1.5vw;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.descriptionBox {
    padding: 2vh 2vw;
    background-color: #ffffff;
}

.descriptionBox h2 {
    font-size: 1.75vw;
}

.descriptionBox li {
    margin-top: 2vh;
    text-align: left;
    font-size: 1.1vw;
}

.descriptionBox i:hover {
    cursor: pointer;
    font-size: 2.5vw;
    transition: 0.5s ease-out;
}

.descriptionBox i:not( :hover ){
    font-size: 1.75vw;
    transition: 0.5s ease-out;
}


/* Resume and contact me section */