/* Container and main styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Lato, sans-serif;
}

body {
    line-height: 1.6;
    background-color: white;
    color: black;
    padding: 10vh 0;
}

#backLink {
    background-color: #552cbf;
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px 25px;
    margin: 20px 20px;
    border-radius: 50px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

#backLinkWhite {
    background-color: white;
    color: #552cbf;
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px 25px;
    margin: 20px 20px;
    border-radius: 50px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

#backLink:hover {
    text-decoration: underline;
    font-size: 1.75em;
    transition: 0.5s ease-out;
}

#backLink:not( :hover ) {
    font-size:1.25em;
    transition: 0.5s ease-out;
}

#backLinkWhite:hover {
    text-decoration: underline;
    font-size: 1.75em;
    transition: 0.5s ease-out;
}

#backLinkWhite:not( :hover ) {
    font-size:1.25em;
    transition: 0.5s ease-out;
}

/* Main content */
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sectionContainer {
    width: 65vw;
    margin: auto;
}

.title {
    /* margin-bottom: 1vh; */
    font-size: 60px;
    color: white;
}

.basicText {
    font-size: 18px;
}

#workTermReport {
    background-color: white;
    width: 65vw;
    padding: 5vh 5vw;
    border-radius: 20px;
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
}

#workExperienceHeading {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#workExperienceHeading p {
    font-size: 20px;
}

#companyName {
    font-size: 40px;
    line-height: 1.25;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
}

#leftSide {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

#rightSide {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

#workExperienceContent p {
    font-size: 16px;
    line-height: 2em;
}

.contentHeading {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    margin-top: 4vh;
    font-size: 25px;
}

.contentSubheading {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif, sans-serif;
    font-size: 20px;
    margin-top: 2vh;
}

ul {
    margin: 0 1vw;
}

#indent {
    margin-left: 2vw;
}