/* Container and main styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: Lato, sans-serif;
    overflow-x: hidden;
}

body {
    font-family: 'Dosis', sans-serif;
    line-height: 1.6;
    background-color: #354f52;
}

/* Header */
#header {
    color: white;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #2f3e46;
}

#header h1 {
    font-size: 80px;
}

#header p {
    font-size: 30px;
}

#socialLinks {
    margin: 12px 0 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

#socialLinks a {
    text-decoration: none;
    padding: 0 20px;
    color: white;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 0 20px;
    font-size: 20px;
}

#socialLinks .fab:hover{
    font-size:2.5em;
    transition: 0.5s ease-out;
}

#socialLinks .fab:not( :hover ){
    font-size:2em;
    transition: 0.5s ease-out;
}

#resumeDownload {
    background-color: #84a98c;
    color: white;
    position: fixed;
    top: 0;
    right: 0;
    padding: 10px 25px;
    margin: 20px 20px;
    border-radius: 50px;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
}

#resumeDownload:hover {
    text-decoration: underline;
    font-size: 1.75em;
    transition: 0.5s ease-out;
}

#resumeDownload:not( :hover ) {
    font-size:1.25em;
    transition: 0.5s ease-out;
}

/* Main content */
#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sectionContainer {
    width: 65vw;
    margin: auto;
}

.title {
    /* margin-bottom: 1vh; */
    font-size: 60px;
    color: white;
}

.basicText {
    font-size: 18px;
}

/* About section */
#about {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 5vh 15vw 0 15vw;
}

#personalPhoto {
    border: 4px solid #415b5e;
    border-radius: 20px;
    width: 35%;
    height: 75vh;
    margin-right: 3vw;
    background: url('images/personalPhoto2.jpg') no-repeat center center/cover;
}

#aboutContent {
    width: 65%;
    max-height: 75vh;
    background-color: #415b5e;
    padding: 20px;
    border-radius: 20px;
}

#aboutText {
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
}

#aboutPersonalOccupation {
    margin-bottom: 2vh;
    font-size: 25px;
}


/* Skills section */
#skills {
    max-width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
    padding: 5vh 0 0 0;
}

#skillsContainer {
    background-color: #415b5e;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 3vw;
    padding: 3vw;
    border-radius: 20px;
}

.skill {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.skillIcon {
    height: 20vh;
    width: 10vw;
}

#C {
    background: url('images/c.png') no-repeat center center/cover;
}

#Java {
    background: url('images/java.png') no-repeat center center/cover;
}

#JavaScript {
    background: url('images/java-script.png') no-repeat center center/cover;
}

#Python {
    background: url('images/python.png') no-repeat center center/cover;
}

#PHP {
    background: url('images/php.png') no-repeat center center/cover;
}

#HTML {
    background: url('images/html5.png') no-repeat center center/cover;
}

#CSS {
    background: url('images/css3.png') no-repeat center center/cover;
}

#SASS {
    background: url('images/sass.png') no-repeat center center/cover;
}

#SQL {
    background: url('images/sql.svg') no-repeat center center/cover;
}

.skillText {
    margin-top: 2vh;
    font-size: 25px;
    font-weight: bold;
}

/* Work experience section */
#workExperience {
    /* height: 80vh; */
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 5vh 0 0;
}

#workExperienceContainer {
    width: 75%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 20px;
    padding: 2vh 4vw;
    background-color: #415b5e;
}

.workExperienceBox {
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vh 0;
}

.leftSide {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}

.rightSide {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
}

#divider {
    width: 100%;
    align-self: center;
    height: 3px;
    background-color: #354f52;
    border-radius: 5px;
}

.workExperienceHeading {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
}

.companyName {
    font-size: 40px;
    margin-bottom: 0;
    line-height: 1.25;
}


/* Personal projects section */
#projects {
    height: 100vh;
    background-color: #f79e02;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 7vh 0;
}

#projectsContainer {
    width: 100%;
    display: flex;
    justify-content: center;
}

.projectsBox {
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2vh 2vw;
    margin: 0 2vw;
    border-radius: 10px;
}

.projectsImage {
    width: 80%;
    margin-bottom: 2vh;
    transition-property: border-radius;
    transition-duration: 0.75s;
}

.projectsTitle {
    width: 100%;
    font-size: 20px;
    margin-bottom: 1vh;
}


/* Resume and contact me section */
#resumeContactForm {
    height: 100vh;
    background-color: #f79e02;
}